# Polars SQL: Basic Usage

This notebook demonstrates how to use SQL queries with Polars DataFrames.

In [ ]:
# Polars SQL: Basic Usage
# This notebook demonstrates how to use SQL queries with Polars DataFrames (Polars 1.x+).

import polars as pl

# Create your DataFrame
df = pl.DataFrame({
    'city': ['Athens', 'London', 'Paris', 'Paris', 'London'],
    'population': [3.1, 8.9, 2.1, 2.2, 9.0],
    'country': ['Greece', 'UK', 'France', 'France', 'UK']
})

# Create a SQLContext and register the DataFrame as a table
ctx = pl.SQLContext()
ctx.register("cities", df)

# Example 1: Simple SELECT
result1 = ctx.execute("SELECT city, population FROM cities").collect()
print("Simple SELECT:\n", result1)

# Example 2: WHERE clause
result2 = ctx.execute("SELECT * FROM cities WHERE country = 'UK'").collect()
print("\nWHERE clause:\n", result2)

# Example 3: Aggregation
result3 = ctx.execute("SELECT country, AVG(population) as avg_pop FROM cities GROUP BY country").collect()
print("\nAggregation:\n", result3)

# ---
# Notes:
# - Use ctx.register() to register DataFrames as SQL tables.
# - Use ctx.execute() to run SQL queries, and .collect() to get the result as a DataFrame.
# - The table name in SQL must match the name used in ctx.register().

---

## Notes
- You can use SQL queries directly on Polars DataFrames with the `.sql()` method.
- The special table name `self` refers to the DataFrame itself.
- Use standard SQL syntax for filtering, grouping, and aggregation.
- See more examples in the next notebook!