# Polars SQL: Join Operations

This notebook demonstrates different types of joins using SQL queries in Polars.

In [ ]:
# Polars SQL: Join Operations
# Demonstrates different types of joins using SQL queries in Polars 1.x.

import polars as pl

# Create example DataFrames
left = pl.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana']
})
right = pl.DataFrame({
    'id': [3, 4, 5],
    'country': ['France', 'UK', 'Greece']
})

# Create a SQLContext and register tables
ctx = pl.SQLContext()
ctx.register("left", left)
ctx.register("right", right)

# INNER JOIN
result_inner = ctx.execute("""
    SELECT l.id, l.name, r.country
    FROM left l
    INNER JOIN right r ON l.id = r.id
""").collect()
print("INNER JOIN:\n", result_inner)

# LEFT JOIN
result_left = ctx.execute("""
    SELECT l.id, l.name, r.country
    FROM left l
    LEFT JOIN right r ON l.id = r.id
""").collect()
print("\nLEFT JOIN:\n", result_left)

# FULL OUTER JOIN
result_full = ctx.execute("""
    SELECT l.id, l.name, r.country
    FROM left l
    FULL OUTER JOIN right r ON l.id = r.id
""").collect()
print("\nFULL OUTER JOIN:\n", result_full)

# ---
# Notes:
# - Register each DataFrame as a table with ctx.register().
# - Use standard SQL join syntax in ctx.execute().

---

## Notes
- You can register multiple DataFrames as SQL tables using `pl.register_sql_table()`.
- Use standard SQL join syntax: INNER, LEFT, RIGHT, FULL OUTER.
- Explore more join types and SQL features in Polars documentation.